---
import Layout from '../layouts/Layout.astro';
import MotionEnhancements from '../components/MotionEnhancements.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import LocalAreaSection from '../components/LocalAreaSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import StrengthsSection from '../components/StrengthsSection.astro';
import TechStackSection from '../components/TechStackSection.astro';
import WorksSection from '../components/WorksSection.astro';
import FlowSection from '../components/FlowSection.astro';
import FAQSection from '../components/FAQSection.astro';
import ContactSection from '../components/ContactSection.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Layout>
  <SiteHeader />
  <main id="main-content" tabindex="-1">
    <Hero />
    <AboutSection />
    <LocalAreaSection />
    <ServicesSection />
    <StrengthsSection />
    <TechStackSection />
    <WorksSection />
    <FlowSection />
    <FAQSection />
    <ContactSection />
  </main>
  <SiteFooter />
  <MotionEnhancements />
</Layout>
